.main {  
    display: flex;
    gap: 10px;
}

.card1, .card2, .card3 {
    background-color: rgb(247, 246, 246);
    width: 150px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card1 p, .card2 p, .card3 p {
    font-size: 12px;
    color: black;
    text-align: start;  /* this will now work */
}

button {
    background-color: green;
    color: white;
    margin-top: 10px;
    padding: 5px 10px; /* makes button look better */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
